body {
    background-color: black;
    color: white;
    font-family: sans-serif;
  }
  
  #searchbar, #searchbutton {
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #ccc; /* Light gray border */
  }
  
  #searchbutton {
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
    cursor: pointer;
  }